// nextflow.config

// conda {
//   path = '/home/conda/root/condabin/conda'  // double check this path
// }

conda {
  // Full path to conda executable — required because it's not on $PATH
  path = '/conda/root/condabin/conda'
}

profiles {
  standard {
    process {
      executor = 'local'
      withConda = true
      conda = './environment.yml'
    }
  }

  slurm {
    process {
      executor = 'slurm'
      withConda = true
      conda = './environment.yml'

      cpus = 8
      memory = '16 GB'
    }

    workDir = "/scratch/${System.env.USER ?: 'user'}/nextflow-work"
  }
}
